.horseRaceGridContainer {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 86px;
  height: 91vh;
}
.horseRaceGridLeft {
  padding-left: 24px;
  width: 100%;
}

#raceSchedule {
  font-size: 24px;
  margin-left: -16px;
  margin-top: -30px;
}

.ulRaceList li {
  padding: 11px;
}

#animateHorses {
  width: 74%;
}

#video {
  width: 100%;
  padding-top: 1%;
}
