#alsoRan {
  font-size: 12pt;
  font-weight: 500;
  color: blue;
}

#alsoTitles {
  font-size: 12pt;
  color: rgb(35, 38, 42);
  font-weight: 600;
}

#raceHorseList {
  margin-top: 12px;
  font-size: 12pt;
}

#raceHorsenumberOfHorses {
  margin-top: 10px;
  font-size: 12pt;
  font-weight: 500;
  color: blue;
  height: 100%;
}
