.homeGridContainer {
  display: grid;
  margin-top: 100px;
  margin-left: 140px;
  grid-template-columns: 50% 50%;
  width: 88vw;
  height: 86vh;
}

.homeGridTopLeft {
  width: 100%;
  height: 50%;
  border: solid 1px blue;
}
.homeGridTopRight {
  width: 100%;
  height: 50%;
  border: solid 1px blue;
}
.homeGridBottomLeft {
  display: inline-block;
  width: 100%;
  height: 50%;
  border: solid 1px blue;
}
.homeGridBottomRight {
  width: 100%;
  height: 50%;
  border: solid 1px blue;
}
