.myproductListDataContainer {
  display: flex;
  padding-left: 164px;
}

/* side qty listing */
#productDataHeader {
  display: inline-block;
  color: rgb(8, 8, 156);
  font-size: 20px;
  padding-left: 20px;
  padding-top: 240px;
  letter-spacing: 1.5px;
  padding-bottom: 0px;
  position: fixed;
  z-index: -1;
}

.productlistHeaderTitles {
  display: inline-block;
  padding-left: 160px;
  padding-top: 16px;
  background-color: green;
  margin-top: 68px;
  font-style: bold;
  height: 42px;
  font-size: 18pt;
  position: fixed;
  z-index: 1;
  width: 100vw;
  box-shadow: 24px 10px 24px 24px rgba(43, 12, 129, 0.5);
}

#productDataList {
  margin-top: 0px;
}

#productListHeaderID {
  display: inline-block;
  padding-left: 50px;
  width: 3.5%;
}
#productListHeaderVendor {
  display: inline-block;
  padding-left: 4px;
  width: 16%;
  text-align: left;
}

#productListHeaderItem {
  display: inline-block;
  padding-left: 18px;
  text-align: left;
  width: 17%;
}

#productListHeaderDescription {
  display: inline-block;
  padding-left: 12px;
  width: 18%;
  text-align: left;
}
#productListHeaderRetail {
  display: inline-block;
  padding-left: 28px;
  text-align: left;
  width: 10%;
}

#productListHeaderSale {
  display: inline-block;
  padding-left: 6px;
  text-align: left;
  width: 10%;
}
/* ////////////DATA BELOW////////////////////////// */

#myproductListDataWrapper {
  display: inline-block;
  /* padding-top: 10%; */
  padding-left: 164px;
  list-style: none;
  font-size: 14px;
  line-height: 14px;
  float: left;
  width: 100%;
  z-index: +3;
}

#hr {
  width: 100vw;
}

#productListDataId {
  display: inline-block;
  padding-right: 22px;
  padding-left: 8px;
  width: 1%;
}

#productListDataVendor {
  display: inline-block;
  width: 16%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 24px;
}

#productListDataItem {
  display: inline-block;
  text-align: left;
  word-spacing: 3px;
  width: 18%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 24px;
}
#productListDataDescription {
  display: inline-block;
  padding-left: 8px;
  width: 20%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#productListDataRetail {
  display: inline-block;
  padding-left: 8px;
  text-align: left;
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#productListDataSale {
  display: inline-block;
  padding-left: 8px;
  text-align: left;
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
