.myhorseListDataContainer {
  display: flex;
  padding-left: 164px;
}

#myhorseListDataWrapper {
  /* display: inline-block; */
  margin-top: 5px;
  padding-left: 164px;
  list-style: none;
  font-size: 14px;
  float: left;
}

#horseDataHeader {
  display: inline-block;
  color: rgb(8, 8, 156);
  background-color: green;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 240px;
  letter-spacing: 1.5px;
  padding-bottom: 0px;
  position: fixed;
}

.horseDataHeaderTitles {
  display: inline-block;
  padding-left: 160px;
  padding-top: 20px;
  background-color: green;
  margin-top: 64px;
  font-style: bold;
  height: 46px;
  font-size: 18pt;
  position: fixed;
}

#horseDataListHeaderID {
  display: inline-block;
  padding-left: 50px;
  width: 40px;
}
#horseDataListHeaderHorseName {
  display: inline-block;
  padding-left: 12px;
  width: 160px;
  text-align: left;
}

#horseDataListHeaderSireName {
  display: inline-block;
  padding-left: 8px;
  text-align: left;
  width: 160px;
}

#horseDataListHeaderWinnings {
  display: inline-block;
  padding-left: 26px;
  text-align: left;
}
#horseDataListHeaderRank {
  display: inline-block;
  padding-left: 54px;
  text-align: left;
}

#horseDataListHeaderStarts {
  display: inline-block;
  padding-left: 36px;
  text-align: left;
}

#horseDataListHeaderWinPercent {
  display: inline-block;
  padding-left: 26px;
  text-align: left;
}

#horseDataListHeaderFirst {
  display: inline-block;
  padding-left: 26px;
  text-align: left;
}

#horseDataListHeaderSecond {
  display: inline-block;
  padding-left: 26px;
  text-align: left;
}
#horseDataListHeaderThird {
  display: inline-block;
  padding-left: 26px;
  text-align: left;
}
/* hr {
  width: 200px;
  padding-right: 100px;
} */

#horseListDataId {
  display: inline-block;
  padding-right: 22px;
  padding-left: 8px;
}

#horseListDataHorseName {
  display: inline-block;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 8px;
}

#horseListDataSireName {
  display: inline-block;
  text-align: left;
  word-spacing: 3px;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
#horseListDataWinnings {
  display: inline-block;
  padding-left: 8px;
  width: 80px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* padding-right: 10px; */
}

#horseListDataRank {
  display: inline-block;
  padding-left: 68px;
  text-align: right;
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#horseListDataStarts {
  display: inline-block;
  padding-left: 52px;
  text-align: right;
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

#horseListDataWinPercent {
  display: inline-block;
  padding-left: 42px;
  word-spacing: 3px;
  width: 50px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
#horseListDataFirst {
  display: inline-block;
  width: 20px;
  text-align: right;
  padding-left: 42px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

#horseListDataSecond {
  display: inline-block;
  padding-left: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

#horseListDataThird {
  display: inline-block;
  padding-left: 52px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
